*{
margin: 0px;
padding: 0px;

}
body{
    display:flex;
    justify-content: center;
}
.container{
      background-color: rgb(39, 36, 36);
      width:350px;
      border-radius: 30px;
      padding: 20px;
}

#display1{
   padding: 5px;
    height: 100px;
    width: 100%;
    border-radius: 15px;
    box-shadow: inset 6px 10px 6px;
    font-size: 20px;
    text-align: end;
    border: none;
    margin-bottom: 20px;
    font-weight: bold;

}
.buttons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    height: 20em;
    padding:5px;
}
.buttons button{
    margin:5px;
    font-size:30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 50;
}
.buttons button:hover{
    opacity: .7;
    font-size: 40px;
}
.oper{
    color:blue;

}
.buttons .equal{
    border-radius: 10px;
    grid-column: span 2;
    
    color: blue;
}